@model  eStudioLjepote.Models.Usluge
@{
    ViewData["Title"] = "PreporuceneUslugeSummary";
}

<div class="col-sm-12 col-lg-4">
    <div class="card" style="width: 20rem;">
        @{
            var base64 = Convert.ToBase64String(Model.ImageThumbnail);
            var imgsrc = string.Format("data:image/gif;base64,{0}", base64);
        }
        <img src="@imgsrc" style="padding-right:20px; height:200px;" class="card-img-top" alt="...">
        <div class="card-body">
            <h3 class="card-title" style="text-align:center">
                <a style="color:palevioletred" asp-controller="Usluge" asp-action="Detalji" asp-route-uslugaId="@Model.Id">@Model.Naziv</a>

            </h3>
            <p class="card-text">@Model.KratkiOpis</p>
            <a asp-controller="Usluge" style="width:150px; margin-left:50px;" asp-action="Detalji" asp-route-uslugaId="@Model.Id" class="btn btn-light">Pogledaj vise</a>

        </div>
    </div>
</div>
